<template>
  <div class="categories">
    <ul>
      <li
        v-for="(category, idx) in categories"
        :key="idx"
        :class="{ active: categoryActive === category }"
        @click="chooseCategory(category)"
      >
        {{ category }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [
        'Все',
        'Мясные',
        'Вегетарианская',
        'Гриль',
        'Острые',
        'Закрытые',
      ],
      categoryActive: 'Все',
    }
  },
  methods: {
    chooseCategory(category) {
      this.categoryActive = category
    },
  },
}
</script>
