<template>
  <div class="pizza-block">
    <img class="pizza-block__image" :src="img" alt="Pizza" />
    <h4 class="pizza-block__title">{{ title }}</h4>
    <div class="pizza-block__selector">
      <ul>
        <li
          v-for="(type, idx) in typePizza"
          :key="idx"
          :class="{ active: type === selectorTypePizza }"
          @click="selectorTypePizza = type"
        >
          {{ type }}
        </li>
      </ul>
      <ul>
        <li
          v-for="(diameter, idx) in diameterPizza"
          :key="idx"
          :class="{ active: diameter.name === selectordiameterPizza }"
          @click="chooseDiameter(diameter)"
        >
          {{ diameter.name }} см.
        </li>
      </ul>
    </div>
    <div class="pizza-block__bottom">
      <div class="pizza-block__price">от {{ totalPrice }} ₽</div>
      <div @click="addProduct" class="button button--outline button--add">
        <svg
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.8 4.8H7.2V1.2C7.2 0.5373 6.6627 0 6 0C5.3373 0 4.8 0.5373 4.8 1.2V4.8H1.2C0.5373 4.8 0 5.3373 0 6C0 6.6627 0.5373 7.2 1.2 7.2H4.8V10.8C4.8 11.4627 5.3373 12 6 12C6.6627 12 7.2 11.4627 7.2 10.8V7.2H10.8C11.4627 7.2 12 6.6627 12 6C12 5.3373 11.4627 4.8 10.8 4.8Z"
            fill="white"
          />
        </svg>
        <span>Добавить</span>
        <i v-if="amount">{{ amount }}</i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Название',
    },
    img: {
      type: String,
      default:
        'https://dodopizza-a.akamaihd.net/site-static/dist/611f501db3a3369fac31.svg',
    },
    price: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      typePizza: ['тонкое', 'толстое'],
      diameterPizza: [
        { name: 26, sum: 0 },
        { name: 30, sum: 100 },
        { name: 40, sum: 200 },
      ],
      selectorTypePizza: 'тонкое',
      selectordiameterPizza: 26,
      totalPrice: this.price,
      amount: 0,
    }
  },
  methods: {
    chooseDiameter(diameter) {
      this.selectordiameterPizza = diameter.name
      this.totalPrice = diameter.sum + this.price
    },
    addProduct() {
      this.amount += 1
      const product = {
        id: new Date().getTime(),
        title: this.title,
        diameter: this.selectordiameterPizza,
        type: this.selectorTypePizza,
        price: this.totalPrice,
        amount: this.amount,
      }
      this.$store.commit('cart/setCart', product)
    },
  },
}
</script>
