<template>
  <div class="wrapper">
    <TheHeader />
    <div class="content">
      <div class="container">
        <div class="content__top">
          <Categories />
          <Sort />
        </div>
        <h2 class="content__title">Все пиццы</h2>
        <div class="content__items">
          <PizzaBlock
            v-for="product in products"
            :key="product.id"
            :title="product.title"
            :img="product.img"
            :price="product.price"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  computed: {
    products() {
      return this.$store.state.products.list
    },
  },
}
</script>
